.field-item {
    flex: 1;
    padding: 0.1rem;
    margin: 0;
    height:inherit;
    width: auto;
    overflow:hidden;
    text-align: center;
    vertical-align: middle;
}

.field-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;

    background-color: white;
    border: 1px solid #e4e4ee;
    margin: 0.4rem;

    box-shadow: 0 0 3px #bbbbd4;
    overflow: hidden;
    padding: 0;
}

.draggable {
    cursor: pointer;
}
