.layout-schema {
  border: white solid 1px;
  border-radius: 10px;
  background-color: white;
}

.layout-specification {
  border: white solid 1px;
  border-radius: 10px;
  background-color: white;
}
