.layout-schema {
  background-color: white;
  border: #dbdbdb 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  /*
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; */
}

.layout-specification {
  background-color: white;
  border: #dbdbdb 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  /* 
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; */
}

.plotSettings-container {
  height: 100%;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
