.RndPlot-container {
    border: #e4e4ee 3px solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.RndPlot-plot {
    width: 95%;
    height: 95%;
}

.RndPlot-titlebar {
    display: flex;
    overflow: hidden;
}