.field-item-modal {
  flex: 1;
  padding: 20px;
  margin: 10px;
  height: inherit;
  width: auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: grid;
}
.field-item-menu-button {
  margin-top: 20px;
}
