.playground-container {
  min-width: 400px;
  max-width: 1500px;
  display: flex;
  background-color: white;
  border: #dbdbdb 1px solid;
  width: -moz-available;
  margin: 0.3em;
  margin-top: 15px;
  border-radius: 10px;
}
