@import "src/assets/styles/colors";

.title-bar-h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: $title-bar-h1-background-color;
}

.title-bar-close-button {
}

.title-bar-title {
    flex: 1;
    height:inherit;
    width: auto;
    overflow:hidden;
    text-align: center;
    vertical-align: middle;
}
