.field-modal {
    height: auto;
    position: absolute;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    transform: translateX(0%) translateY(40%);
}

.show-field-modal {
    display: block;
}

.hide-field-modal {
    display: none;
}
