.VisualizationCanvas-container {
    /* 
  min-width: 60%;

  max-width: 100%;
  display: flex;*/
  background-color: white; 
  border: #dbdbdb 1px solid;
  padding: 0;
  margin: 0;
  /* width: -moz-available;
  margin: 0.3em;
  margin-top: 15px;
  border-radius: 10px;  */
}
