.VisualizationCanvas-container {
  min-width: 70%;
  max-width: 100%;
  display: flex;
  background-color: white;
  border: #dbdbdb 1px solid;
  width: -moz-available;
  margin: 0.3em;
  margin-top: 15px;
  border-radius: 10px;
}

.VisualizationCanvas-plot-container {
  border: #dbdbdb 3px solid;
  border-radius: 10px;
}

.VisualizationCanvas-plot {
  width: 93%;
  height: 93%;
}
