$nav-bar: #aaaaaa;

$checkbox: #a1a4c8;

$plot-border-color: #dbdbdb;

$field-border-color: #0000;
$field-hover-background: #a1a4c8;

$field-item-background-color: white;
$field-item-border: #e4e4ee;
$field-item-box-shadow: #bbbbd4;

$rnd-container-border: #e4e4ee;
$rnd-container-background-color: white;

$visualization-canvas-border: #dbdbdb;
$visualization-canvas-background-color: white;

$close-button-background-color: #bbbbd4;
$close-button-container-background-color: #f25c66;

$title-bar-h1-background-color: azure;

$title-h1-background-color: white;
$title-h1-border-bottom: #e4e4ee;

$main-window-background-color: #e3e4e6;
